.portfolioContent {
    max-width: 880px;
    position: relative;
    margin: 0 auto;
    height: 100%;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .slider {
        margin: 0;
        padding: 0;
        list-style: none;
        width: 100%;
        height: 100%;
        min-height: 600px;
        display: flex;
        align-items: center;
        transition: all 1s ease;
    }

    .slide {
        opacity: 0;
        transition: opacity 0.4s ease-in-out;
        min-width: 100%;
        position: absolute;
        left: 0;
    }

    .slide.current {
        opacity: 1;
    }

    .button-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 22%;
        z-index: 3;
    }

    .leftButton{
        border: none;
        background: url("../assets/arrow_left.svg") transparent no-repeat;
        background-size: 40px;
        height: 44px;
        width: 44px;
        margin-left: 2em;
        transition: $hover-transition;
    }

    .rightButton {
        border: none;
        background: url("../assets/arrow_right.svg") transparent no-repeat;
        background-size: 40px;
        height: 44px;
        width: 44px;
        margin-right: 2em;
        transition: $hover-transition;
    }

    .nav-dots {
        width: 100%;
        display: flex;
        justify-content: center;
        align-self: center;
        margin-bottom: 50px;
        list-style: none;
        padding: 0;
    }

    .nav-dot {
        @include flexCenter(row, nowrap);
        margin: 0 6px;
        width: 20px;
        height: 20px;
    }

    .nav-dot:hover {
        cursor: pointer;
    }

    .nav-dot > span {
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: white;
        border-radius: 50%;
        opacity: 0.2;
    }

    .nav-dot.currentDot > span  {
        opacity: 1;
    }

}

.portfolioContentImage {
    min-height: 200px;
    width: 80%;
    background: $color-secondary-light;
    margin: 0 auto 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;

    &_img {
        max-width: 70%;
        margin: 1em auto;
    }

    h3 {
        font-size: 37px;
        margin: 0;
        position: absolute;
        bottom: -27px;
        left: -20px;
    }

    a {
        background: url("../assets/github.svg") center no-repeat;
        background-size: 80%;
        position: absolute;
        bottom: -12px;
        right: -18px;
        width: 44px;
        height: 44px;
        z-index: 3;
    }
}

.portfolioContentDescription {
    padding: 0;
    width: 80%;
    margin: auto;
    
    &_date {
        color: #9297A0;
    }  

    &_skills {
        height: 50px;
        padding: 10px 0;
        width: 100%;
        display: flex;

        span {
            width: 30px;
            height: 100%;
            margin-right: 25px;
        }

        .react {
            background: url("../assets/react.svg") center no-repeat;
            background-size: 102%;
        }

        .css {
            background: url("../assets/css.svg") center no-repeat;
            background-size: 100%;
        }

        .js {
            background: url("../assets/js.svg") center no-repeat;
            background-size: 100%;
        }

        .figma {
            background: url("../assets/figma.webp") center no-repeat;
            background-size: 100%;
        }

        .cSharp {
            background: url("../assets/csharp.svg") center no-repeat;
            background-size: 100%;
        }

        .unity {
            background: url("../assets/unity.svg") center no-repeat;
            background-size: 100%;
        }

        .game_design {
            background: url("../assets/gamedesign.webp") center no-repeat;
            background-size: 100%;
        }

        .interaction_design {
            background: url("../assets/interaction.webp") center no-repeat;
            background-size: 85%;
        }

        .project_management {
            background: url("../assets/project.webp") center no-repeat;
            background-size: 100%;
        }

        .research {
            background: url("../assets/research.webp") center no-repeat;
            background-size: 100%;
        }
    }
}

/* //////////////////////////////// Media Queries /////////////////////////////////////////// */

@media (min-width: $break-desktop) {

    .portfolio {
        display: flex;
        justify-content: center;
    }
    
    .portfolioContent {
        width: 900px;
        height: 500px;

        &Image {
            height: 450px;
            width: 500px;
            background: none;
            box-shadow: none;
            border-radius: none;
            margin: 0 0 0 30px;

            &_img {
                max-width: 500px;
                margin: 0;
            }

            a {
                left: -29px;
                bottom: -10px;
            }

            h3 {
                font-size: 60px;
                left: -90px;
                top: -63px;
            }
        }

        .slide {
            background: $color-secondary-light;
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 3px;
            width: 100%;
            height: 100%;
            max-height: 500px;
            justify-content: space-around;
            align-items: center;
            display: flex;
        }

        &Description {
            width: 300px;
            margin: 0 0 20px 0;
            padding: 30px;
        }

        .button-wrapper {
            top: 45%;
        }

        .leftButton{
            margin-left: -2em;
        }

        .rightButton{
            margin-right: -2em;
        }

       .nav-dots {
           margin: 0 0 20px 0;
       }
    }
}