.aboutMeContent {
    margin: 20px;

    &_heading {
        @include flexCenter(row, nowrap);
    }

    .date {
        font-weight: $font-weight-bold;
    }
}

.timeline {
    position: relative;
    margin: 0px 20px;

    &_events {
        display: flex;
        flex-wrap: wrap;

        &_description {
            width: 340px;
            margin: 0 0 30px 0;
        }

        .last {
            margin-bottom: 0;
        }
    }

    &_line {
        content: '';
        position: absolute;
        width: 2px; 
        background-color: #C4C4C4;
        left: -19px;
        top: 8px;
        bottom: 6px;
    }

    .date {
        min-width: 110px;
        margin: 0;
    }

    .date::after {
        content: '';
        position: absolute;
        border: 5px solid #C4C4C4; 
        border-radius: 50%;
        left: -23px;
        margin-top: 7px;
    }

}

/* //////////////////////////////// Media Queries /////////////////////////////////////////// */

@media (min-width: $break-tablet) {

    .aboutMeContent {
        @include flexCenter(column, wrap);
        height: 100%;
        margin: 0;

        h2 {
            font-size: 100px;
            background-size: 122px;
            width: 380px;
            margin: 50px 0;
        }

        .timeline_events {
            
            &_description {
                margin-left: 25px;
            }

            .date {
                margin-left: 10px;
            }
        }
    }
}