.contactContent {
    @include flexCenter(column, wrap);
    height: 100%;
    color: $color-text-light;


    h2 {
        width: 350px;
        margin-bottom: 0;
    }

    h4 {
        font-weight: $font-weight-regular;
        font-size: 24px;
        text-align: center;
    }

    .socialIcons {
        @include flexCenter(row, nowrap);
    }

    .linkedin,
    .github,
    .email {
        font-size: 18px;
        padding-top: 65px;
        text-decoration: none; 
        color: $color-text-light;
        margin: 10px 30px 10px 30px;
    }

    .email {
        background: url("../assets/mail.svg") center top no-repeat;
        color: $color-primary-dark; 
    }

    .linkedin {
        background: url("../assets/linkedin.svg") center top no-repeat;
    }
    
    .github {
        background: url("../assets/github_nofill.svg") center top no-repeat;
    }
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 20px 20px 20px;
    
    > p {
        margin: 0;
        opacity: 0.7;
        font-size: 13px;
    } 

    > a {
        background: url("../assets/arrow_up.svg") center top no-repeat;
        text-decoration: none;
        color: $color-text-light;
        font-size: 13px;
        padding-top: 30px;
        opacity: 0.7;

    }

    > a:hover {
        opacity: 1;
    }
}

/* //////////////////////////////// Media Queries /////////////////////////////////////////// */

@media (min-width: $break-tablet) {

    .contactContent {
        
        h2 {
            width: 430px;
            margin-top: 20px;
            font-size: 100px;
            background-size: 122px;
        }

    }

}