@import "./mixins";

.content {
    height: 100%;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .github {
        margin-right: 15px;
        height: 34px;
        img {
            height: 100%;
        }
    }
}

.introContent {
    @include flexCenter(row, wrap);
    height: 100%;

    &_wrapper {
        @include flexCenter(column, wrap);
    }

    &_portrait {
        max-width: 100%;
        margin: 20px auto;
        opacity: 0;
    }

    &_text {
        padding: 10px 38px 20px 38px;
        opacity: 0;
        width: 100%;
        // margin-top: 30px;
        line-height: 190%;
        max-width: 600px;
        text-align: center;
    }
}

nav {
    @include flexCenter(row, wrap);
    flex-basis: 185px;
    opacity: 0;

    svg {
        position: relative;
        top: -8px;
        z-index: -1;
    }

    > a {
        width: 185px;
        height: 47px;
        border: none;
        font-size: 18px;
        color: $color-text-dark;
        text-decoration: none;
        text-align: center;
        margin: 20px 1.5em 0px 1.5em;
        display: inline-block;
        background: url("../assets/stroke.svg") no-repeat center;
        background-position-y: 26px;
    }
}

.entry_animation {
    animation: HeroAnimation;
    animation-duration: 3s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.02, 0.8, 0.2, 1);
}

@keyframes HeroAnimation {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

/* //////////////////////////////// Media Queries /////////////////////////////////////////// */

@media (min-width: $break-tablet) {

    .introContent {   
    
        nav {
            flex-wrap: nowrap;
            margin: 30px;
            min-width: 100%;
        }
    }
}