@import "./mixins";

.content {
    height: 100%;
}

.introContent {
    @include flexCenter(row, wrap);
    height: 100%;

    &_githubLink {
        position: absolute;
        top: 15px;
        right: 15px;
        height: 34px;
        img {
            height: 100%;
        }
    }

    &_wrapper {
        @include flexCenter(column, nowrap);
    }

    &_greeting {
        background-color: #d9eef1;
        height: 380px;
        display: flex;
        width: 100%;
        justify-content: center;
        &-title {
            font-size: 110px;
            margin-top: 50px;
            text-align: center;
            position: absolute;
            width: 100%;
            z-index: 1;
            opacity: 0;
        }
        &-img {
            object-fit: cover;
            max-width: 100%;
        }
    }

    &_text {
        padding: 10px 38px 20px 38px;
        opacity: 0;
        width: 100%;
        line-height: 190%;
        max-width: 600px;
        text-align: center;
    }
}

nav {
    @include flexCenter(row, wrap);
    flex-basis: 185px;
    opacity: 0;

    svg {
        position: relative;
        top: -8px;
        z-index: -1;
    }

    > a {
        width: 185px;
        height: 47px;
        border: none;
        font-size: 18px;
        color: $color-text-main;
        text-decoration: none;
        text-align: center;
        margin: 20px 1.5em 0px 1.5em;
        display: inline-block;
        background: url("../assets/stroke.svg") no-repeat center;
        background-position-y: 26px;
    }
}

.entry_animation {
    animation: HeroAnimation;
    animation-duration: 3s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.02, 0.8, 0.2, 1);
}

@keyframes HeroAnimation {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

/* //////////////////////////////// Media Queries /////////////////////////////////////////// */

@media (min-width: $break-tablet) {

    .introContent {   
        &_greeting {
            background-color: transparent;
        }
        nav {
            flex-wrap: nowrap;
            margin: 30px;
            min-width: 100%;
        }
    }
}

@media (max-width: $break-tablet) {

    .introContent_githubLink  {
        display: none;
    }
}