.contactContent {
    @include flexCenter(column, wrap);
    height: 100%;
    color: white;


    h2 {
        width: 350px;
        margin-bottom: 0;
    }

    h4 {
        width: 100%;
        font-weight: $font-weight-regular;
        font-size: 24px;
        text-align: center;
        margin-top: 50px;
    }

    .email {
        background: url("../assets/mail.svg") center top no-repeat;
        color: #D26F28;
        font-size: 18px;
        padding-top: 60px;
        height: 100px;
        width: 300px;
        margin: 0 auto;
        text-align: center;
        text-decoration: none; 
    }

    .socialIcons {
        @include flexCenter(row, nowrap);
        text-align: center;
        height: 120px;
        margin: 10px 0 20px 0;
    }
}


.linkedin,
.github {
    text-decoration: none;
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 75px 0 20px 0;
    margin: 0px 30px;
}

.linkedin:hover,
.github:hover,
.email:hover {
    transform: scale(1.1);
}

.linkedin {
    background: url("../assets/linkedin.svg") center top no-repeat;
}

.github {
    background: url("../assets/github_nofill.svg") center top no-repeat;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 20px 20px 20px;
    
    > p {
        margin: 0;
        opacity: 0.7;
        font-size: 13px;
    } 

    > a {
        background: url("../assets/arrow_up.svg") center top no-repeat;
        text-decoration: none;
        color: $color-text-light;
        font-size: 13px;
        padding: 30px 0 0 0;
        opacity: 0.7;

    }

    > a:hover {
        opacity: 1;
    }
}

/* //////////////////////////////// Media Queries /////////////////////////////////////////// */

@media (min-width: $break-tablet) {

    .contactContent {
        
        h2 {
            width: 430px;
            margin-top: 20px;
        }
    }

}