// COLORS
$color-text-light: #e3e6e6;
$color-text-main: #23494F;
$color-text-title: #397F88;
$color-primary: #F9C784;
$color-primary-dark: #D26F28;
$color-secondary-dark: #134047;
$color-secondary-light: #134047;
$color-background: #E7F6F8;
$color-background-darker: #D9EEF1;

// FONT SIZE & WEIGHT
$font-size-regular: 16px;
$font-weight-regular: 300;
$font-weight-bold: 700;

// BREAKPOINTS 
$break-tablet: 700px;
$break-tablet-height: 700px;
$break-desktop: 1000px;

//ANIMATIONS
$hover-transition: all .2s ease-in-out;

// GLOBAL
*{
    box-sizing: border-box;
}

html,
body {
    margin: 0; 
    padding: 0;
    scroll-behavior: smooth;
}
body {
    font-family: 'Raleway', 'Century Gothic', sans-serif;
    background: $color-background;
    line-height: 1.5;
}

h1, h2, h3 {
    font-family: 'Satisfy', 'Century Gothic', cursive;
    color: $color-text-title;
}

h2 {
    font-size: 80px;
    padding: 0;
    text-align: center;
    margin-bottom: 20px;
    background: url("../assets/barcelona.svg") left center no-repeat;
    background-size: 94px;
    width: 280px;
}

p {
    color: $color-text-main;
    font-size: $font-size-regular;
}

button, 
a {
    transition: $hover-transition;

    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 3pt 2pt #DBA37A;
    }
}

section {
    min-height: 700px;
}

@media (min-width: $break-tablet) and (min-height: $break-tablet-height) {
    section {
        height: 100vh;
    }
}