// COLORS
$color-text-light: #EFE4E4;
$color-primary: #D27029;
$color-secondary-dark: #134047;
$color-secondary-light: #134047;
$color-background: #16223B;

// FONT SIZE & WEIGHT
$font-size-regular: 16px;
$font-weight-regular: 300;
$font-weight-bold: 700;

// BREAKPOINTS 
$break-phablet: 480px;
$break-tablet: 700px;
$break-desktop: 1000px;
$break-wide: 1280px;
$break-height: 700px;

// Global Declarations
*{
    box-sizing: border-box;
}

html,
body {
    margin: 0; 
    padding: 0;
    scroll-behavior: smooth;
}
body {
    font-family: 'Raleway', sans-serif;
    background: $color-background;
    line-height: 1.5;
}

h1, h2, h3 {
    font-family: 'Satisfy', cursive;
    color: $color-text-light;
}

h2 {
    font-size: 80px;
    padding: 0;
    text-align: center;
    margin-bottom: 20px;
    background: url("assets/barcelona.svg") left center no-repeat;
    background-size: 94px;
    width: 280px;
}

p {
    color: $color-text-light;
    font-size: $font-size-regular;
}

button, 
a {
    &:hover {
    cursor: pointer;
    }

    &:focus {
        outline: none !important;
        transform: scale(1.1);
    }
}

/*////////////////////////// Welcome/ Intro Section ///////////////////////////////////////////////*/

header {
    height: 50px;
    margin-top: 10px;
}

.content {
    height: 100%;
}

.logo {
    background: url("assets/logo.svg") center no-repeat;
    background-size: 51px auto;
    height: 50px;
    width: 100px;
    z-index: 99;
}

.introContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    h1 {
        font-size: 105px;
        width: 100%;
        height: 125px;
        text-align: center;
        margin: 0px 20px 0px 20px;
        opacity: 0.01;
    }

    > div {
        display: flex;
        flex-wrap: wrap;
    }

    &_portrait {
        background: url("assets/portfolio_pic_v2.png") center top no-repeat;
        background-size: 156px;
        width: 100%;
        height: 156px;
        margin: 20px 0px;
        opacity: 0.01;
    }

    &_text {
        margin: 0px 38px;
        opacity: 0.01;
    }
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-basis: 185px;
    opacity: 0.01;

    svg {
        position: relative;
        top: -8px;
        z-index: -1;
    }

    > a {
        width: 185px;
        height: 47px;
        border: none;
        padding: 0px 40px 0px 40px;
        font-size: 18px;
        color: $color-text-light;
        text-decoration: none;
        text-align: center;
        margin: 20px 1.5em 0px 1.5em;
    }
}

.entry_animation {
    animation: HeroAnimation;
    animation-duration: 3s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.02, 0.8, 0.2, 1);
}

.section0Btn:hover {
    cursor: pointer;
}

/*////////////////////////// About Me Section ///////////////////////////////////////////////*/

.aboutMeContent {
    margin: 20px 20px 0 20px;

    &_heading {
        display: flex;
        width: 100%;
        justify-content: center;

    }

    .date {
        font-weight: $font-weight-bold;
    }
}

.timeline {
    // display: flex;
    // flex-flow: row wrap;
    // flex-basis: 320px;
    position: relative;
    margin: 0px 20px;

    &_events {
        display: flex;
        flex-wrap: wrap;

        &_description {
            width: 340px;
            margin: 0 0 30px 0;
        }

        .last {
            margin-bottom: 0;
        }
    }

    &_line {
        content: '';
        position: absolute;
        width: 3px;
        background-color: white;
        left: -20px;
        opacity: 0.5;
        top: 6px;
        bottom: 6px;
    }

    .date {
        min-width: 110px;
        margin: 0;
    }

    .date::after {
        content: '';
        position: absolute;
        border: 5px solid white; 
        border-radius: 50%;
        opacity: 0.9;
        left: -23px;
        margin-top: 5px;
    }

}

@keyframes HeroAnimation {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}
/* //////////////////////////////// Portfolio Section /////////////////////////////////////////// */

.portfolioContent {
    max-width: 880px;
    position: relative;
    margin: 80px auto 20px auto;

    .slider {
        margin: 0;
        padding: 0;
        list-style: none;
        width: 100%;
        min-height: 470px;
        display: flex;
        transition: all 1s ease;
    }

    .slide {
        opacity: 0;
        transition: opacity 0.4s ease-in-out;
        min-width: 100%;
        position: absolute;
        left: 0;
    }

    .slide.current {
        opacity: 1;
    }

    .button-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 90px;
        z-index: 3;
    }

    .leftButton{
        border: none;
        background: url("assets/arrow_left.svg") transparent no-repeat;
        background-size: 40px;
        height: 44px;
        width: 44px;
        margin-left: 2em;
    }

    .rightButton {
        border: none;
        background: url("assets/arrow_right.svg") transparent no-repeat;
        background-size: 40px;
        height: 44px;
        width: 44px;
        margin-right: 2em;
    }

    .nav-dots {
        height: 9px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-top: 30px;
    }

    .nav-dot {
        width: 9px;
        height: 9px;
        margin: 0 7px;
        padding: 0 4px;
        border-radius: 100%;
        background-color: rgba(255, 255, 255, 0.6);
        
        &:hover { 
            cursor: pointer;
            background-color: #ffffff;
        }
    }

    .nav-dot.active {
        background-color: #ffffff;
    }
}

.portfolioContentImage {
    min-height: 200px;
    //height: 50%;
    width: 80%;
    background: $color-secondary-light;
    margin: 0 auto 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;

    &_img {
        max-width: 70%;
        margin: 1em auto;
    }

    h3 {
        font-size: 37px;
        margin: 0;
        position: absolute;
        bottom: -27px;
        left: -20px;
    }

    a {
        background: url("assets/github.svg") center no-repeat;
        background-size: 80%;
        position: absolute;
        bottom: -12px;
        right: -18px;
        width: 44px;
        height: 44px;
        z-index: 3;
    }
}

.portfolioContentDescription {
    padding: 0 32px;
    
    &_date {
        color: #9297A0;
    }  
}

/* //////////////////////////////// Contact Section /////////////////////////////////////////// */

.contactContent {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    flex-direction: column;
    width: 100%;
    height: 100%;
    //height: 100vh;
    color: white;


    h2 {
        width: 350px;
        margin-bottom: 0;
    }

    h4 {
        width: 100%;
        font-weight: $font-weight-regular;
        font-size: 24px;
        text-align: center;
        margin-top: 50px;
    }

    .email {
        background: url("assets/mail.svg") center top no-repeat;
        color: #D26F28;
        font-size: 20px;
        padding-top: 60px;
        height: 100px;
        width: 300px;
        margin: 0 auto;
        transition: all .2s ease-in-out;
        text-align: center;
    }

    .socialIcons {
        display: flex;
        justify-content: center;
        width: 100%;
        text-align: center;
        height: 120px;
        margin: 10px 0 20px 0;
    }
}


.linkedin,
.github {
    text-decoration: none;
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 75px 0 20px 0;
    margin: 0px 30px;
    background-position: center top;
    transition: all .2s ease-in-out;
}

.linkedin:hover,
.github:hover,
.email:hover {
    transform: scale(1.1);
}

.linkedin {
    background: url("assets/linkedin.svg") center top no-repeat;
}

.github {
    background: url("assets/github.svg") center top no-repeat;
}

/* //////////////////////////////// Media Queries /////////////////////////////////////////// */

@media (min-width: $break-tablet) and (min-height: $break-height) {
    section {
        height: 100vh;
    }
}


@media (min-width: $break-tablet) {

    .logo {
        background: url("assets/logo.svg") center no-repeat;
        background-size: 61px auto;
        height: 50px;
        width: 100px;
        z-index: 99;
    }

    h2 {
        font-size: 100px;
        background-size: 122px;
        width: 380px;
    }

    .introContent {   
        display: grid;
        grid-template-columns: auto 1fr 1fr auto;
        grid-template-rows: auto;

        h1 {
            font-size: 180px;
            height: 250px;
            grid-column: 3;
            grid-row: 1;
            margin: 0 0 0 -70px;
            width: 400px;
            justify-self: start;
        }
    
        &_portrait {
            background: url("assets/portfolio_pic_medium.png");
            background-size: 333px;
            height: 400px;
            width: 320px;
            margin-bottom: 0px;
            grid-column: 2;
            grid-row: 1 / span 2;
            justify-self: end;
            align-self: end;
        }
    
        &_text {
            width: 320px;
            grid-column: 3;
            grid-row: 2;
            margin-left: 0px;
        }
    
        nav {
            flex-wrap: nowrap;
            grid-column: 2 / span 3;
            grid-row: 3;
            margin-top: 80px;
        }
    }

    .aboutMeContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        //justify-content: center;
        height: 100%;
        margin: 0;

        h2 {
            margin-bottom: 40px;
            margin: 50px 0;
        }

        .timeline_events {
            
            &_description {
                margin-left: 25px;
            }

            .date {
                margin-left: 10px;
            }
        }
    }

    .portfolioContent {

        .button-wrapper {
            top: 130px;
        }
    }

    .contactContent {
        
        h2 {
            width: 430px;
            margin-top: 20px;
        }
    }

}

@media (min-width: $break-desktop) {

    .portfolio {
        display: flex;
        justify-content: center;
    }
    
    .portfolioContent {
        width: 900px;
        height: 500px;

        &Image {
            height: 450px;
            width: 500px;
            background: none;
            box-shadow: none;
            border-radius: none;
            margin: 0 0 0 30px;

            &_img {
                max-width: 500px;
                margin: 0;
            }

            a {
                left: -29px;
                bottom: -10px;
            }

            h3 {
                font-size: 60px;
                left: -90px;
                top: -63px;
            }
        }

        .slide {
            background: $color-secondary-light;
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 3px;
            width: 100%;
            height: 100%;
            justify-content: space-around;
            align-items: center;
            display: flex;
        }

        &Description {
            width: 300px;
            margin: 0 0 20px 0;
            padding: 30px;
        }

        .button-wrapper {
            top: 45%;
        }

        .leftButton{
            margin-left: -2em;
        }

        .rightButton{
            margin-right: -2em;
        }

       .nav-dots {
           margin: 0 0 20px 0;
       }
    }
}

// @media( min-height: 580px) {
//     section {
//         width: 100vw;
//         height: 100vh;
//     }
// }

// @media ( min-width: 750px ) {  
//     /* .introContent {
//         top: 60%;
//     } */

//     nav { 
//         flex-basis: 800px; 
//         position: fixed;
//         bottom: 50px;
//     }

//     h1 {
//         font-size: 36px;
//     }

//     .content {
//         overflow: hidden;
//     }


